.catalog-element-image{
    object-fit: contain;
    height: 300px;
}

.catalog-element-description{
    height: 40px !important;
}

body{
    background-color: #fff !important;
}

.edit-product-quantity:hover{
    cursor: pointer;
}


.catalog-section{
    margin-top: 40px;
}

.catalog-element{
    min-width: 300px !important;
}

.catalog-element-title{
    padding: 0px 5px;
}

.order-danger{
    margin-top: 10px;
    padding: 0px 0px 0px 2px;
    color: red;
}